@import url('https://fonts.googleapis.com/css?family=Lato');

/* .flip-card-container */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 17rem;
  height: 25rem;
  margin: auto;
 

 
  perspective: 1000px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
figure img {
  height: 100%;
  border-radius: 24px;
}

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 5%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: center;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}

/* .img-bg */
.img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

 .card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
} 

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
.card-front ul {
  --width_text: 70%;
  --height_text: 100%;


  padding-top: 0;
  margin: 0 auto;
  width: var(--width_text);
  height: var(--height_text);

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-shadow: 0 0 4px #000,
               0 0 8px #000;
}

/* li */
.card-front ul li {
  --font_height: 1.9rem;
  --font_siz: 1.1rem;
  width: 100%;
  height: var(--font_height);
  margin-top: 0;
  padding-bottom: 10px;

  font-size: var(--font_siz);
  font-weight: bold;
  text-align: start;

  position: relative;
}

.card-front ul li:nth-child(2n) {
  color: var(--white-2);
}

.card-front ul li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background: currentColor;
  opacity: .2;
}

/* button */
.card-back button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 2px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;

  box-shadow: 0 0 4px #F0F9,
              0 0 8px #F0F9;
  text-shadow:0 0 4px #0F09,
              0 0 8px #0F09;

  cursor: pointer;
}

.card-back button:hover,
button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}

.card-back button:active {
  transform: translate(2px);
}

/* .design-container */
.design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

/* states */
.card-back button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
  --tr: 20;
  --op: .7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 16px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}


/* Card */
.for-span{
  --span_margin: .4rem;
  --span_size: 1rem;
	margin: var(--span_margin);
	font-size: var(--span_size);
	color: black;
	text-shadow: 0 0 4px #fff,
               0 0 8px #fff;
}

.li-color{
	display: flex;
	width: 100%;
	height: auto;
	margin: 1rem 0;
}

.li-descripcion{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: auto;
} 


.colores{
	display:flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}
.color{
  --color_width: 20px;
  --color_height: 18px;

	width: var(--color_width);
	height: var(--color_height);
}

.label{
	margin-top: 2px;
	margin-right: 10px;
}

.red{
	background:red;
}
.green{
	background:green;
}
.blue{
	background:blue;
}
.white{
	background:white;
}
.black{
	background:black;
}
.grey{
	background:grey;
}
.purple{
	background:purple;
}
.orange{
	background:orangered;
}
.pink{
	background:#ff6781;
}


.div-descripcion{
	width: auto;
	height: auto;
}

#descripcion{
	width: 100%;
	height: 5rem;
	padding: 10px;
	resize: none;
}


@media screen and (max-width: 800px) {
  /* .flip-card-container */
.flip-card-container {
  width: 15rem;
  height: 22rem;
  margin: auto;
  }
/* li */
.card-front ul li {
  --font_height: 1.4rem;
  --font_siz: 1rem;
}
/* ul */
.card-front ul {
  --width_text: 85%;
  --height_text: 100%;
  }
}

@media screen and (max-width: 450px) {
  /* .flip-card-container */
  .flip-card-container {
    width: 12rem;
    height: 20rem;
    margin: auto;
    }

  /* ul */
  .card-front ul {
  --width_text: 90%;
  --height_text: 100%;
  }
  /* li */
  .card-front ul li {
  --font_height: 1.5rem;
  --font_siz: 1rem;
}

/* Card */
.for-span{
  --span_margin: .8rem;
  --span_size: 1rem;
  }

.color{
  --color_width: 15px;
  --color_height: 12px;
}
}

@media screen and (max-width: 400px) {
    /* .flip-card-container */
    .flip-card-container {
      width: 15rem;
      height: 23rem;
      margin: auto;
      }
}
