* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #fdabdd, #374a5a);
  background-repeat: no-repeat;
  min-height: 100dvh;
  min-width: 350px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}

h1 {
  font-size: 2rem;
  text-shadow: 0 1px 0 black;
  text-align: center;
  position: relative;
  padding: 2rem 0;
  font-weight: 300;
}

form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    input {
      min-height: 2rem;
      background-color: transparent;
      border-radius: 4px;
      padding: 0.5rem;
      border: 0.13rem solid #f5f;
      color: #fff !important;
      padding-left: 0.5rem;
      margin-left: 1rem;

      &::-webkit-input-placeholder {
        color: #fff;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .div-container {
    padding: 2rem 0;
    display: flex;
    gap: 0.5rem;
    flex: 1;

    a,
    input {
      font-size: 0.8rem;
      font-weight: 600;
      color: white;
      padding: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #3a57af;
      -webkit-box-shadow: 0 3px rgba(58, 87, 175, 0.75);
      -moz-box-shadow: 0 3px rgba(58, 87, 175, 0.75);
      box-shadow: 0 3px rgba(58, 87, 175, 0.75);
      transition: all 0.1s linear 0s;
      position: relative;
      margin: 0;

      text-decoration: none;
      border: 1px solid #fff;

      &:hover {
        top: 3px;
        background-color: #2e458b;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}
