
body,h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
}

body{
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#51555C;
	height:100%;
	font-size:20px;
}


/* Form styles */

input,select{
	padding:3px;
	color:#333333;
	
	border:1px solid #96A6C5;
	margin-top:2px;
	width:200px;
	font-size:20px;
}

select{
	width:auto;
	padding:2px;
}

.formline{
	padding:3px;
}

label{
	font-size:20px;
	display:block;
	text-align:right;
}

table{
	width:100%;
}

td{
	font-size:25px;
}

.input-container{
	padding:1px;
}

#div-regForm,.registered{	
	border:3px solid #eeeeee;
	padding:15px;
	background: repeat-x #cbd4e4;
	color:#203360;
	
	width:auto;
	height: auto;
}

.form-title,
.form-sub-title{
	font-size:20px;
	
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:20px;
	font-weight:bold;
}

.form-sub-title{
	font-weight:normal;
	padding:6px 0 15px 0;
}

.greenButton{
	width:auto;
	margin:10px 0 0 2px;
	padding:3px 4px 3px 4px;
	color:white;
	background-color:#589d39;
	outline:none;
	border:1px solid #006600;
	font-weight:bold;
}

.greenButton:active{
	background-color:#006600;
	padding:4px 3px 2px 5px;
}

#loading{
	left:10px;
	position:relative;
	top:3px;
	visibility:hidden;
}

#error{
	background-color:#ffebe8;
	border:1px solid #dd3c10;
	padding:7px 3px;
	text-align:center;
	margin-top:10px;
	visibility:hidden;
}

.colores{
	display:flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}
.color{
	width: 20px;
	height: 18px;
}

.label{
	margin-top: 2px;
	margin-right: 10px;
}

.red{
	background:red;
}
.green{
	background:green;
}
.blue{
	background:blue;
}
.white{
	background:white;
}
.black{
	background:black;
}
.grey{
	background:grey;
}
.purple{
	background:purple;
}
.orange{
	background:orangered;
}
.pink{
	background:#ff6781;
}

body{
	width:100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.div-descripcion{
	width: auto;
	height: auto;
}

#descripcion{
	width: 100%;
	height: 5rem;
	padding: 10px;
	resize: none;
}





/* Card */
.for-span{
	margin: .4rem;
	font-size: 1rem;
	color: black;
	text-shadow: 0 0 5px #fff;
}

.li-color{
	display: flex;
	width: 100%;
	height: auto;
	margin: 1rem 0;
}

.li-descripcion{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: auto;
	
} 