@media screen and (max-width: 1150px) {
  :root {
    /* Imagenes Grid */
    --grid_columnas: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  :root {
    /* Header Saludo*/
    --heder_width: 30%;
    --header_height: 80%;
    /* Slider */
    --slider_width: 70%;
    --slider_height: 70%;
    /* Imagenes Grid */
    /* --grid_columnas: repeat(3, 1fr); */
    /* Corazon */
    --corazonY: 16rem;
    --corazonX: 1.7rem;
    /* Imagen Vista Previa */
    --object_fit: fill;
  }

  body {
    .about {
      .cards-about {
        flex-direction: column;
        .card {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 665px) {
  :root {
    /* Cabezera */
    /* --izquierda_content: 100%;
    --derecha_content: 30%; */
    /* Header Saludo*/
    /* --heder_width: 100%;
    --header_height: 40%; */
    /* --saludoH1_margin: ; */
    /* Slider */
    /* --slider_width: 100%;
    --slider_height: 60%; */

    /* Imagenes Grid */
    --grid_columnas: repeat(2, 1fr);
  }

  body {
    header {
      .izquierda {
        ul {
          gap: 0.8rem;
        }
      }

      .derecha {
        .menu__header {
          position: absolute;
          top: var(--header-height);
          right: 0;
          width: 50%;
          height: calc(100dvh - var(--header-height));
          background-color: #00000091;

          ul {
            display: flex;
            flex-direction: column;
            padding: 3rem 1rem;

            li {
              height: 15%;
              a {
                height: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
              }
              &:hover {
                background-color: #ffffff91;
              }
            }
          }
        }
      }
    }

    .disparador__menu {
      /* width: 30%; */
      margin-right: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 550px) {
    body {
      main {
        flex-direction: column;
        .message {
          width: 100%;
          height: fit-content;
          flex: none;

          h1 {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
          }
        }
        .slider {
          width: 80%;
          height: 350px;
          flex: none;
        }
      }
    }

    @media screen and (max-width: 450px) {
      :root {
        /* Cabezera 
        --izquierda_content: 100%;
        --izquierda_iconsContent: 10%;
        --iconos_size: 1.9rem;
        --derecha_content: auto;*/

        /* Header Saludo
        --heder_width: 100%;
        --header_height: 35%;
        --saludoH1_margin: 0.5;
        --fontH1_size: 2.5rem;
        --texto_size: 1.4rem;
        --padding_saludo: 2rem;*/
        /* Slider 
        --slider_width: 100%;
        --slider_height: 65%;*/

        /* Corazon */
        --corazonY: 14rem;
        --corazonX: 1.7rem;
      }
      /* }

@media screen and (max-width: 400px) {
  :root {
    /* Cabezera 
    /* --izquierda_iconsContent: 100%; 
    --iconos_size: 1.5rem;
    /* Header Saludo
    /* --header_height: 45%; 
    /* --saludoH1_margin: 0;
    --fontH1_size: 1.6rem;
    --texto_size: 0.8rem; 
    /* Slider 
    /* --slider_width: 100%;
    --slider_height: 50%; 
    /* Imagenes Grid 
    /* --grid_columnas: repeat(1, 1fr);
    --corazonY: 17rem;
    --corazonX: 1.5rem; 
  } */

      body {
        header {
          padding: 0 0.5rem;

          .izquierda {
            ul {
              gap: 0rem;
              li {
                a,
                i {
                  font-size: 0.9rem;
                }
              }
            }
          }

          .derecha {
            .menu__header {
              width: 70%;
            }
          }

          .disparador__menu {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
