@media screen and (max-width: 800px) {
  body {
    .about {
      .cards-about {
        flex-direction: column;
        .card {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 665px) {
  body {
    header {
      .izquierda {
        ul {
          gap: 0.8rem;
        }
      }

      .derecha {
        .menu__header {
          position: absolute;
          top: var(--header-height);
          right: 0;
          width: 50%;
          height: calc(100dvh - var(--header-height));
          background-color: #00000091;

          ul {
            display: flex;
            flex-direction: column;
            padding: 3rem 1rem;

            li {
              height: 15%;
              a {
                height: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
              }
              &:hover {
                background-color: #ffffff91;
              }
            }
          }
        }
      }
    }

    .disparador__menu {
      /* width: 30%; */
      margin-right: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 550px) {
    body {
      main {
        flex-direction: column;
        .message {
          width: 100%;
          height: fit-content;
          flex: none;

          h1 {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
          }
        }
        .slider {
          width: 80%;
          height: 350px;
          flex: none;
        }
      }
      .clients {
        .cards-clients {
          .card {
            img {
              width: 180px;
            }
            .message {
              display: flex;
              flex-direction: column;
              gap: 0.2rem;

              p {
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 450px) {
      body {
        header {
          padding: 0 0.5rem;

          .izquierda {
            ul {
              gap: 0rem;
              li {
                a,
                i {
                  font-size: 0.9rem;
                }
              }
            }
          }

          .derecha {
            .menu__header {
              width: 70%;
            }
          }

          .disparador__menu {
            font-size: 1.5rem;
          }
        }

        .about {
          .cards-about {
            .card {
              width: 250px;
            }
          }
        }
      }
    }
  }
}
