@media screen and (max-width: 1150px) {
:root{
        /* Imagenes Grid */
    --grid_columnas: repeat(3, 1fr);
    --row-gap:40px;  
    --column-gap:25px;
    }
}

@media screen and (max-width: 800px) {
:root{
    /* Header Saludo*/
    --heder_width: 30%;
    --header_height: 80%;
    /* Slider */
    --slider_width: 70%;        
    --slider_height: 70%;
    /* Imagenes Grid */
    --grid_columnas: repeat(3, 1fr);
    --row-gap:30px;  
    --column-gap:15px;
    }
}

@media screen and (max-width: 650px) {

    :root{
    /* Cabezera */
    --izquierda_content: 100%;
    --derecha_content: 30%;
    /* Header Saludo*/
    --heder_width: 100%;
    --header_height: 40%;
    --saludoH1_margin: ;
        /* Slider */
    --slider_width: 100%;        
    --slider_height: 60%;

   /* Imagenes Grid */
   --grid_columnas: repeat(2, 1fr);
   --row-gap:40px;  
   --column-gap:25px;
    }
       .menu__header{
        position: absolute;
        top: 70px;
        right: 0;
        width: 50%;
        height: 100vh;
    }
 .menu__header ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background: #0008;
 }
 .menu__header ul a{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
 }
 .menu__header ul a:hover{
    font-size: 2.5rem;
    transition: 1s;
    box-shadow: 0 0 4px #0F0,
                0 0 8px #0F0;
 }

 .disparador__menu{
     width: 30%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
    } 
}

    @media screen and (max-width: 450px) {
        :root{
     /* Cabezera */
    --izquierda_content: 100%;
    --izquierda_iconsContent: 90%;
    --iconos_size: 1.9rem;
    --derecha_content: auto;

    /* Header Saludo*/
    --heder_width: 100%;
    --header_height: 35%;
    --saludoH1_margin: 0;
    --fontH1_size: 1.8rem;
    --texto_size: 1rem;
    --padding_saludo: 3rem;
        /* Slider */
    --slider_width: 100%;        
    --slider_height: 65%;  
    }
}

    @media screen and (max-width: 350px) {
    :root{
    /* Cabezera */
    --izquierda_iconsContent: 100%;
    --iconos_size: 1.5rem;
     /* Header Saludo*/
    --header_height: 45%;
    --saludoH1_margin: 0;
    --fontH1_size: 1.6rem;
    --texto_size: .8rem;
     /* Slider */
    --slider_width: 100%;        
    --slider_height: 50%;  
    /* Imagenes Grid */
  --grid_columnas: repeat(1, 1fr);
  --row-gap:40px;  
  --column-gap:25px;
    }
}