* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #fdabdd, #374a5a);
  background-repeat: no-repeat;
  min-height: 100dvh;
  min-width: 350px;
  width: 100%;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

h1 {
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: 300;
  text-align: center;
}

form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    label {
      .radio {
        cursor: pointer;
        margin-bottom: 15px;

        &:before {
          background-color: #3a57af;
          content: "";
          position: absolute;
          top: 2px;
          left: 0;
          width: 20px;
          height: 20px;
          border-radius: 100%;
        }
      }
    }
    .icon {
      min-width: 30px;
      min-height: 2rem;
      background-color: #3a57af96;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .guia {
      min-width: 30%;
    }
  }

  input {
    min-height: 2rem;
    background-color: #fff;
    border: solid 1px #cbc9c9;
    padding-left: 0.5rem;
    margin-right: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  .terminos {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 5%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      gap: 0.5rem;

      .button {
        font-size: 0.8rem;
        font-weight: 600;
        color: white;
        padding: 10px 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #3a57af;
        -webkit-box-shadow: 0 3px rgba(58, 87, 175, 0.75);
        -moz-box-shadow: 0 3px rgba(58, 87, 175, 0.75);
        box-shadow: 0 3px rgba(58, 87, 175, 0.75);
        transition: all 0.1s linear 0s;
        position: relative;

        text-decoration: none;
        border: 1px solid #fff;

        &:hover {
          top: 3px;
          background-color: #2e458b;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
      input[type="submit"] {
        margin: 0;
      }
    }
  }
}
