 @import url(variables.css); 
@import url(querys.css);


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Rakkas, Verdana, Geneva, Tahoma, sans-serif;  
}
    /* Contenedor Header Completo */
.header{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}    
        /* Efecto Wave */
.wave{
    height: 100px;
    overflow: hidden;
    position:absolute;
    left: 0;
    width: 100%;
    
}
 
        /* Contenedor Cabezera */
.cabezera__header{
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    color: var(--header_color);
    z-index: 50;
    opacity: 1;
    font-size: var(--iconos_size);
}

/* Contenedor Izquierda de la Cabezera */
.izquierda{
    width: var(--izquierda_content);
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.izquierda ul{
    width: var(--izquierda_iconsContent);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.usuario{
    text-decoration: none;
    width: auto;
    text-align: center;
    color: white;
    font-size: 20px;
    display: block;
    padding: 0 10%;
    text-shadow: 0 0 5px #FF00CC;
}
.izquierda ul .sesion{
    width: auto;
    padding: 0 5%;
    list-style: none;
    cursor: pointer;
}
.izquierda .carro .fa-shopping-cart{
    color: #eb8231;
}


/* Contenedor Derecha de la Cabezera */
.derecha{  
    width: var(--derecha_content);
}
.derecha ul{
    list-style: none;
    display: flex;
}
.derecha ul a{
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 2%;
}




/*     .header .fondo__header{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: var(--width);
        height: 100vh;
        background: var(--color_fondos);
        z-index: -10;   
    } */

    .rotar{
        transform: rotate(90deg);
        transition: .5s ease-in-out;
    }
   
        /* Contenedor Centro Header */
.centro__header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

        /* Video Header */
.video__header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100vh;
}
.video__header video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


    /* Titulo y Saludo del Header */
.header .mensaje__slider{
    width: var(--heder_width);
    height: var(--header_height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-size: var(--texto_size);
    font-weight: bold;
    text-align: center;
    margin-top: var(--padding_saludo);
    padding: 1rem;
}
.header .mensaje__slider h1{
    color: black;
    text-shadow: 0 0 10px #F0FA;
    font-size: var(--fontH1_size);
    margin-bottom: var(--saludoH1_margin);
}

.slider{
    width: var(--slider_width);
    height: var(--slider_height);
    background-size: cover;
    display: flex;
    align-items: center;
}


    /* Contenedor Imagenes del Grid */
.main{
    background: var(--color_fondo_body);
    width: 100%;
}
    /* grid */
.main .img__main {
    width: 94%;
    margin: 10% auto;
    display: grid;
    grid-template-columns: var(--grid_columnas);
    gap: var(--row-gap) var(--column-gap);   
    justify-content: space-around;
    align-items: center;
} 
        
.coral{        
    font-size: var(--corazon);
    color: var(--corazon_color);
    opacity: 1;
    position: absolute;
    top: var(--corazonY);
    right: var(--corazonX);  
    text-shadow: 0 0 5px #FFF;  
}   
.corazon__pulsado{
    transition: 2s;
    font-size: 2.2rem;
    color: var(--corazon_pulsado_color);;
    opacity: .8;
    text-shadow: 0 0 5px #FFF; 
    }
  


      /* Modal Vista Previa Imagenes*/
.mostrador__activo{
    width: 100%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0 0 8px #0F0A;        
    transition: 1s ease-in-out;
    z-index: 70;
}


      /* Clase para Ocultar Elementos */
 .ocultar{
    display: none;
    visibility: hidden;
    transition: .2s;
}


    /* Imagen Vista Previa */
.vistaPrevia{
    object-fit: var(--object_fit);
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    z-index: -10;
}
      /* Fondo Vista Previa*/
.fondo__activo{
   position: fixed;
   top: 0;
   left: 0;
   width: var(--width);
   height: 100%;
   background: var(--color_fondos);
   z-index: 60;
}

    /* Controles Vista Previa */
.marco i{
    position: absolute;
    top: 80%;
    font-size: 50px;
    color: #273746;
    display: block;
    opacity: .9;
    text-shadow: 0 0 5px #FF00CC,
                 0 0 10px #FF00CC,
                 0 0 20px #FF00CC
}
.marco i:hover{  
    text-shadow: 0 0 5px #CDDC39,
                 0 0 10px #CDDC39,
                 0 0 20px #CDDC39,
                 0 0 30px #CDDC39
}
.marco .fa-forward{
    right: 0%;
}


    /* Carro de compras */
.carroAdd{
    font-size: var(--corazon);
    color: var(--corazon_color);
    opacity: 1;
    position: absolute;
    top: var(--corazonY);
    left: var(--corazonX);   
}



    /* Footer */
.footer{
    width: 100%;
    height: auto;
    position: sticky;
    left: 0;
    bottom: 0;
    background: #272424c7;
    border-top: 1px solid #FF00CC;
}

.footer-bottom-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    color: honeydew;
}

.footer a {
    text-decoration: none;
    color: #fff;
}
.footer p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

.footer h1,h2,h3,h4,h5,h6 {
    margin:  1% 0 1% 0;
}
.footer ._12 {
    font-size: 1.2em;
}
.footer ._14 {
    font-size: 1.4em;
    text-align: center;
    color: #d9d9d9;
}
.footer ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 100%;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
.footer ul.social-icons {
    text-align:center;
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: auto;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}