:root{

    --color_texto: #000;
    /* --color_fondos: #000C; */
    --width: 100%;

        /* Cabezera */
    --izquierda_content: 100%;
    --derecha_content: 100%;
    --iconos_size: 2rem;
    --izquierda_iconsContent: 100%;

        /* Header Saludo*/
    --heder_width: 35%;
    --header_height: 80%;
    --saludoH1_margin: 3rem;
    --fontH1_size: 3rem;
    --texto_size: 1.3rem;
    --padding_saludo: 0;
    --header_color: rgba(0, 255, 234, 0.918);

        /* Slider */
    --slider_width: 50%;        
    --slider_height: 55%;

        /* Body */
    --color_fondo_body: #000C;
    
        /* Imagenes Grid */
    --grid_columnas: repeat(4, 1fr);
    --row-gap:30px;  
    --column-gap:15px;

    /* Corazon */
    --corazon: 2rem;
    --corazon_color: #ff6fa0;
    --corazon_pulsado: 2.3rem;
    --corazon_pulsado_color: #FF0000;
    --corazonY: 20rem;
    --corazonX:  1rem;

        /* Vista Previa */
    --object_fit: scale-down;
}
